[Unit]
Description=Run DataSync reconcile-loop every 4 hours

[Timer]
OnBootSec=15min
OnUnitActiveSec=4h
AccuracySec=5min
Persistent=true
Unit=DataSync-reconcile.service

[Install]
WantedBy=timers.target
